.nav-profile-icon{
    position: absolute;
    width: 97.5%;
    height: 50px;
    margin-top: 10px;
}
.nav-container{
    width: 82px;
    height: 100vh;
    background-color: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    /*position: fixed;*/
}
.nav-text{
    opacity: 0;
}
.nav-logo{
    margin-top: 16px;
    margin-left: 14px;
    padding-right: 4px;
    width: 65px;
    height: auto;
    opacity: 1;
}
.nav-items{
    margin-top: 43px;
}
.nav-item{
    width: 82px;
    height: 82px;
    background-color: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 1;
    text-decoration: none;
    position: relative;
    z-index: 999;
}
.nav-icon{
    color: black;
    text-decoration: none;
    border: none;
}
.nav-soc-items{
    margin-bottom: 15px;
}
.nav-soc{
    color: black;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-bottom: 15px;
    padding: 5px;
    width: 20px;
    height: 20px;
}
